## Cleaning and working with raw data

In [72]:
import pandas as pd

In [70]:
df_clients = pd.read_csv('input/clients - clients.csv')

In [71]:
df_clients.head()

,id,estimated_deliveries_volumes,created_at
0,000e8d9b-aaa6-43f8-ab58-2f9b1a8248e9,1 - 10,11/12/2019
1,000f1a2b-5e91-417f-bdda-8a4a5ae2793d,11 - 50,23/05/2020
2,000fc96a-f5e5-4c67-af81-c25ff3f815ed,1 - 10,07/05/2020
3,0012edb0-9edc-4894-b069-48f84cfa7b83,11 - 50,05/10/2018
4,0013c4b6-9fef-4aed-a7c4-4c0c916be02f,1 - 10,08/02/2017

In [81]:
df_clients.to_csv('output/clients_new.csv')

In [87]:
df_ship = pd.read_csv('input/shipments_corregido.csv', error_bad_lines=False)

b'Skipping line 378321: expected 1 fields, saw 2\n'

In [88]:
df_ship.head()

  shipment_reference;client_id;product;country;order_date;invoiced_weight;net_revenue;net_cost;shipment_source
0  ES2020PRO0001856116;ccfcf291-1584-46c2-bf5b-29...
1  ES2020PRO0001856151;ccfcf291-1584-46c2-bf5b-29...
2  ES2020PRO0001856153;51bff652-81dd-4247-adf8-e4...
3  ES2020PRO0001856157;f0f2a6de-342c-473c-a030-c9...
4  ES2020PRO0001856156;34b5e2ab-7207-479c-b69a-30...

In [89]:
df = pd.DataFrame(df_ship['shipment_reference;client_id;product;country;order_date;invoiced_weight;net_revenue;net_cost;shipment_source'].str.split(';'))

In [90]:
df.head()

  shipment_reference;client_id;product;country;order_date;invoiced_weight;net_revenue;net_cost;shipment_source
0  [ES2020PRO0001856116, ccfcf291-1584-46c2-bf5b-...
1  [ES2020PRO0001856151, ccfcf291-1584-46c2-bf5b-...
2  [ES2020PRO0001856153, 51bff652-81dd-4247-adf8-...
3  [ES2020PRO0001856157, f0f2a6de-342c-473c-a030-...
4  [ES2020PRO0001856156, 34b5e2ab-7207-479c-b69a-...

In [97]:
for index, row in df.iterrows():
    print(index, row['shipment_reference;client_id;product;country;order_date;invoiced_weight;net_revenue;net_cost;shipment_source'])